/bin/
/.cache-main
/target/
/.cache-tests
/lift_proto.db.mv.db
/project/project
/project/target
.DS_Store
.lib
.idea
target
project/target
project/project
.cache
.classpath
.project
bin
/.ensime
/.jvmopts
.cache-*
.settings